#profile_pic {
    width: 100%;
    height: 100%;
}

#list {

  margin: 40px;

}
#mar{
  padding: 3px;
  /*margin-left: 34px;*/
}
.detail {
    padding-top: 12%;
}
/*#secondrow{
  position: inherit;
}*/
