<div class="container-fluid">
<div class="row" style="height:200px; border:2px solid">
    <div class="col-lg-2 col-sm-4 " style="height:100%; border:2px solid green">


        <img id="profile_pic" src="../images/images.jpg"/>


    </div>
    <div class="col-lg-5 col-sm-4 " style="height:100%; border:2px solid red">

      <div class="col-lg-12">

        <ul id="list">
        <li><label>name:</label></li>
        <li><label>address:</label></li>
        <li><label>phone:</label></li>
        <li><label>gender:</label></li>
      </ul>
      </div>
    </div>
  </div>
    <div class="col-lg-5 col-sm-4 " style="height:100%; border:2px solid orange">
      <div class="col-lg-12">
        <ul id="list">
        <li><label>email Id:</label></li>
        <li><label>Pan no:</label></li>
        <li><label>phone:</label></li>
        <li><label>gender:</label></li>
      </ul>
      </div>

    </div>
<!-- </div> -->
<!-- <div class="row" style="height:100%;border:2px solid"> -->
  <div class="col-lg-2 col-sm-4" style="height:100%; border:2px solid pink">
    sadfd
  </div>
  <div class="col-lg-10 col-sm-8" style="height:100%; border:2px solid blue">
    <div class="detail">


    <label for="name">name:</label>
    <input type="text" name="name" value="">

    <label for="address">address:</label>
<input type="text" name="address" value="">

<button type="button" class="btn btn-success" name="save">Save</button>
<button type="button" class="btn btn-danger" name="save">Cancel</button>
</div>
  </div>
</div>
</div>
