<div class="container-fluid">
    <div class="row" style="height:200px; border:2px solid">
        <div class="col-lg-2 col-sm-4 " style="height:100%; border:2px solid green">


            <img id="profile_pic" src="../images/images.jpg" />


        </div>
        <div class="col-lg-5 col-sm-4 " style="height:100%; border:2px solid red">

            <div class="col-lg-12" >
                <table ng-repeat="x in dum.header" id="list">
                    <th >
                        <tr>
                            <td><b>Name:</b></td>
                            <td id="mar">{{x.name}}</td>
                        </tr>
                        <tr>
                            <td><b>Address:</b></td>
                            <td id="mar">{{x.address}}</td>
                        </tr>
                        <tr>
                            <td><b>Phone:</b></td>
                            <td id="mar">{{x.phone}}</td>
                        </tr>
                        <tr>
                            <td><b>Gender:</b></td>
                            <td id="mar">{{x.gender}}</td>
                        </tr>
                    </th>
                </table>
            </div>
        </div>

        <div class="col-lg-5 col-sm-4 " style="height:100%; border:2px solid orange">
            <div class="col-lg-12">
              <table ng-repeat="x in dum.header" id="list">
                  <th >
                      <tr>
                          <td><b>Email Id:</b></td>
                          <td id="mar">{{x.email}}</td>
                      </tr>
                      <tr>
                          <td><b>Pan no:</b></td>
                          <td id="mar">{{x.address}}</td>
                      </tr>
                      <tr>
                          <td><b>Phone:</b></td>
                          <td id="mar">{{x.phone}}</td>
                      </tr>
                      <tr>
                          <td><b>Gender:</b></td>
                          <td id="mar">{{x.gender}}</td>
                      </tr>
                  </th>
              </table>
            </div>

        </div>
        <!-- </div> -->
        <div class="row" style="height:100%;border:2px solid">
        <div class="col-lg-2 col-sm-4" style="height:100%; border:2px solid pink">
            sadfd
        </div>
        <div class="col-lg-10 col-sm-8" style="height:100%; border:2px solid blue">
            <div class="detail">


                <label for="name">Name:</label>
                <input type="text" name="name" value=""><br>

                <label for="address">Address:</label>
                <input type="text" name="address" value=""><br>

                <button type="button" class="btn btn-success" name="save">Save</button>
                <button type="button" class="btn btn-danger" name="save">Cancel</button>
            </div>
        </div>
    </div>
</div>
